// COLORS

$black: #000000;
$black1: #0d1b2a;
$blue1: #1b263b;
$grey1: #415a77;
$grey2: #778da9;
$beige: #e0e1dd;
$white: #ffffff;
$white1: #fffef9;
$white2: #fffefb;
$orange1: #f26419;
$orange2: #ff7d00;

$purple1: #5a189a;
$purple2: #3c096c;

//FONTS

$font-roboto: "Roboto", serif;
$font-opensans: "Open Sans", serif;
$font-nunito: "Nunito Sans", serif;
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
