@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $white;
  color: $black1;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
}

.input__groups-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}
.input__group-lg,
.input__group-sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  margin-bottom: 1.2rem;
}
.input__group {
  width: 100%;
  margin-bottom: 1rem;
}
.input__group-lg {
  width: 73%;
}
.input__group-sm {
  width: 34%;
}

.input__group label {
  margin-bottom: 0.5rem;
}

.btn__group,
.btn__group-sm,
.btn__group-lg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn__group {
  width: 100%;
  justify-content: space-between;
}

.btn__group-lg {
  width: 73%;
}

.btn__group-sm {
  width: 34%;
}

.link__group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea {
  height: 1rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  background-color: $grey;
  border: 1px solid $grey2;
  outline: none;
}

input:focus,
textarea:focus {
  border: none;
  outline: 2px solid $blue2;
}

select {
  height: 2rem;
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  background-color: $grey;
  border: 1px solid $grey2;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
}

textarea {
  height: 4.8rem;
}

.primary__btn,
.cancel__btn {
  height: 2rem;
  padding: 0.25rem 1.25rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.primary__btn {
  margin-left: 1rem;
  background-color: $white;
  color: $blue3;
  border: 1px solid $blue3;
}
.primary__btn:hover,
.primary__btn:active {
  background-color: $blue3;
  color: $white;
}

.cancel__btn {
  background-color: $white;
  color: $red1;
  border: 1px solid $red1;
}

.cancel__btn:hover,
.cancel__btn:active {
  background-color: $red1;
  color: $white;
}

.error-message {
  color: $red1;
  font-size: 0.75rem;
}

.error-icon{
  margin-right: 0.25rem;
}

.d-none {
  display: none;
}

.bg-green {
  color: $green1;
}

.bg-red {
  color: $red1;
}

.bg-blue {
  color: $blue1;
}
